body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Helvetica, sans-serif;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

.weekly > h1 {
    color: orange;
}

.weekly > h2 {
    color: red;
}

footer {
    font-size: 0.6em;
}

.weekly a:hover  {
    background-color: saddlebrown;
}

.cocktailfoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blokorigin {
    width: 70%;
    box-sizing: border-box;
    float: left;
    padding-right: 2%;
}

.weekly {
    width: 30%;
    box-sizing: border-box;
    float: right;
    text-align: center;
    border: 1px solid cornflowerblue;
    padding: 10px;
    background-image: url("/webdev1alain/Labo8CSS-4/begin_cocktail_bar/images/cocktail.gif") ;
    background-repeat: repeat-x;
}

#guarantee {
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 4px dotted white;
    background: url("/webdev1alain/Labo8CSS-4/begin_cocktail_bar/images/background.gif") no-repeat top left;
    background-color: #a7cece;

}

footer {
    clear: both;
    text-align: center;
}





